- if user_signed_in?
  = link_to "Sign out", destroy_user_session_path, method: :delete
- else
  = link_to "Sign up", new_user_registration_path
  = link_to "Sign in", new_user_session_path


- if @restaurants.any?
  - @restaurants.each do |restaurant|
    %h2= link_to restaurant.name, restaurant_path(restaurant)
    = image_tag restaurant.image.url(:thumb)
    %h3 Reviews:
    - if restaurant.reviews.any?
      %ul
      - restaurant.reviews.each do |review|
        %li
          = review.thoughts
          %strong= review.rating
          \/5 by:
          = review.get_email(review.user_id)
          = distance_of_time_in_words(Time.at(review.created_at), Time.now)
          = link_to "Endorse", review_endorsements_path(review), class: 'endorsements-link'
          %span.endorsements_count= review.endorsements.count
          = 'endorsement'.pluralize review.endorsements.count
          - if (current_user && current_user.owns?(review) )
            = link_to "Delete review", review_path(review), method: :delete
      %h3 Average rating: #{star_rating(restaurant.average_rating)}
    - else
      %p No reviews
    - if (current_user && current_user.has_reviewed?(restaurant))
      %p You have already reviewed: <b>#{restaurant.name}</b>
    - elsif (current_user && current_user.owns?(restaurant))
      %p You cannot review a restaurant you added
    - else
      = link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
    = link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
    = link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete
- else
  %h1 No restaurant yet!

%a(href=new_restaurant_path) Add a restaurant
